

* {
    padding: 0%;
    margin: 0%;
}

body {
    font-family: 'Karla', sans-serif;
}

h1, h2, h3, h5, h6 {
    font-family: 'Markazi Text', serif;
    letter-spacing: 2px;
}

h4 {
    font-family: 'Inter', sans-serif;
    letter-spacing: 2px;
}

h1 {
    font-size: 4rem;
    margin-bottom: 0;
}
.welcome {
    color:#DDCE00;
}


h2 {
    font-size: 2.5rem;
    color: #333333;
    margin: 1rem 0;
}

p, ul{
    font-size: 1.25rem;;
}


#storefront {
    clip-path: inset(0 0 30% 0);
    position: absolute;
    top: 0;
    width: 99vw;
    height: auto;
    padding: none;
    margin: none;
    filter: blur(8px) brightness(0.3);
}

main.about {
    background-color: #030c09;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
}

main.about > * {
    position: relative;
    z-index: 2;
    padding: 3em;
    width: 60%;
    justify-self: center;
    align-self: center;
}

main.about section {
    color: white;
    flex-direction: column;
}

main.about h1 {
    padding: 0%;
    padding-top: 1rem;
    width: fit-content;
    justify-self: center;
    align-self: center;
}

main.about p {
    padding: 1em 0 1em 1em;
}

main.book {
    padding: 6em;
}

#bookings p{
    padding: 0.5em 0 0.5em 0.5em;
}

article {
    flex:1;
}

article img {
    max-width: 100%;
}

article ul {
    list-style: none;
}

main article {
    border: 1px solid #EDEFEE;
    padding-left: 1rem;
    padding-right: 1rem;
}
main.about article {
    border: none;
}

#hero h1{
    color:#DDCE00;
}



.home section article{
    padding: 3rem;
}
.home section article p{
    padding-top: 1.5rem;
}


.menubanner {
    position: relative;
    height: fit-content;
}

.menubanner_text {
    width: 60%;
    position: relative;
    background-color: #0f4030;
    height: 82vh;
    clip-path: polygon(0 0, 100% 0, 72% 100%, 0% 100%);
}

#pizza_img {
    width: 60%;
    height: 82vh;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

/* $8 */
.menubanner_text h4:nth-child(1) {
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: 200pt;
    font-weight: bolder;
    color: #fcf539;
}

/* pizza deal */
.menubanner_text h4:nth-child(2) {
    position: absolute;
    top: 2rem;
    left: 22.5rem;
    font-size: 96pt;
    font-weight: extra-bold;
    color: #fafafa;
}

/* members exclusive */
.menubanner_text h4:nth-child(3) {
    position: absolute;
    top: 23rem;
    left: 2.5rem;
    font-size: 36pt;
    font-weight: extra-bold;
    color: #fcf539;
}

/*Every monday and friday*/
.menubanner_text h4:nth-child(4) {
    position: absolute;
    top: 33rem;
    left: 2.5rem;
    font-size: 36pt;
    font-weight: extra-bold;
    color: #fafafa;
}




/* restaraunt menu */
#menu_nav {
    height: 5em;
    position: sticky;
    scrollbar-gutter: stable;
    overflow-x: hidden;
    top: 6rem;
    background-color: #fcf539;
}

#menu_nav ul {
    display: flex;
    flex-direction: row;
    width: 100%;
}



#menu_nav ul li {
    flex: 1;
    text-align: center;
    padding: 1em;
    background-color: #fcf539;
    color: #fafafa;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    list-style: none;
}

#menu_nav ul li a {
    color: #0f4030;
    font-weight: bold;
    text-decoration: none;
}
#menu_nav ul li a:hover {
    color: #1a694f;
}


/* menu grid */
#menu_items {
    margin: auto auto;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    padding: 1rem;
}

.menu_img {
    display: block;
    width: 100%;
    height: auto;
}



figure {
    margin: 0;
}

label {
    font-weight: bold;
    display: block;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }

input{
    width: 80%;
    display: block;
    padding: .5rem 1rem;
    line-height: 1.5rem;
    box-sizing: border-box;
}
input:active, input:focus {
    border: 1px solid #0F4030;
}

select {
    width: 80%;
    display: block;
    padding: .5rem 1rem;
    line-height: 1.5rem;
    box-sizing: border-box;
    background-color: #ffffff;
    border: 1px solid #0F4030;
    border-radius: 4px;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

select option {
    padding: 10px;
    background-color: #ffffff;
    color: #333333;
}


select {
    background-image: url("../img/arrows.png");
    background-repeat: no-repeat;
    background-position: right .7em top 50%;
    background-size: .90em auto;
}

#submit {
    margin-top: 2.5em;
    padding: .5rem 1rem;
    border: 1px solid #0F4030;
    background-color:#0F4030;;
    border-radius: 5px;
    width: 80%;
    font-size: 1.25rem;
    display: block;
    color: #fff;
    line-height: 25px;
  }

#submit:hover {
    background-color: #447363;
}

#subit:active {
    background-color: #ffffff;
    color: #0F4030;
    border-color: #0F4030;
}

#hero {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)), url('../img/restaurant_inside.jpg');
    background-size: cover;
    background-position: 75%;
    color: white;
    min-height: 200px;
    text-align: center;
}

#hero p {
    font-size: 2rem;
    margin:0;
    text-shadow: 2px 2px 4px #333333;
}

.cta { 
    display: inline-block; 
    color: rgba(255, 255, 255, 0.9);
    width: 200px; 
    font-weight: bold; 
    font-size: 1.5rem;
    padding: 8px; 
    border: 3px solid #fff; 
    text-align: center; 
    outline: none; 
    text-decoration: none; 
    margin: 1rem;
} 

.cta:hover {
    color:#fff;
    background:#0F4030;
    border: 3px solid #0F4030; 
  }

  .heading-shadow {
    text-shadow: 1px 1px 4px #333333;
  }



.row {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-bottom: 1rem;
  }

  .column {
    flex-basis: 50%;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
  }

  .column figure {
    padding: 0px 12px;

  }


  .videowrap {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 1rem;
	height: 0;
}
.videowrap iframe {
	position: absolute;
    margin-top: 2rem;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.menu-price{
    display: block;
    font-size: 1rem;
}

#map {
    height: 500px;
    width: 100%;
}
/*header + footer*/

@media (max-width: 500px) {

    #map {
        height: 400px;
    }

    #storefront {
        display: none;
    }

    main.about h1.welcome {
        margin: 0;
        padding: 3rem 0 3rem 0;
        text-align: center;
        line-height: 3.5rem;
        filter: drop-shadow(2px 2px 2px #333333);
    }

    main.about section {
        margin: 0;
        padding: 0;
        width: 90%;
        text-align: center;
    }

    /* menu banner*/
    .menubanner {
        position: relative;
        display: flex;
        flex-direction: column;
        height: 35rem;
        background-image: url("../img/menu/arugula-pizza.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover; 
        background-color: transparent;
    }

    .menubanner::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: inherit;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover; 
        transform: rotate(180deg);
    }
    
    .menubanner_text {
        background-color: #030c09;
        background: linear-gradient(170deg, 
            rgba(0, 0, 0, 1), 
            rgba(0, 0, 0, 0.9), 
            rgba(0, 0, 0, 0.8), 
            rgba(0, 0, 0, 0.7), 
            rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.0),
            rgba(0, 0, 0, 0.0)
            );
        width: 100%;
        height: 35rem;
        clip-path: polygon(0 0, 100% 0, 100% 83%, 0 100%);
    }
    
    #pizza_img {
        display: none;
    }
    
    /* $8 */
    .menubanner_text h4:nth-child(1) {
        top: 1.5rem;
        left: 0.8rem;
        font-size: 72pt;
    }
    
    /* pizza deal */
    .menubanner_text h4:nth-child(2) {
        top: 1rem;
        left: 10rem;
        font-size: 42pt;
    }

    /*Every monday and friday*/
    .menubanner_text h4:nth-child(4) {
        top: 11rem;
        left: 1.5rem;
        font-size: 25pt;
    }
    
    /* members exclusive */
    .menubanner_text h4:nth-child(3) {
        top: 21rem;
        width: 3rem;
        left: 1.5rem;
        font-size: 25pt;
    }

    /* menu links*/

    #menu_nav::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        background-color: #fcf539;
        width: 100%;
        height: 100%;
        filter: blur(2rem);
        
        pointer-events: none;
    }

    #menu_nav {
        clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 0, 74% 0, 74% 100%, 22% 100%, 25% 100%, 100% 100%, 100% 0%);
        margin: auto;
        height: 5rem;
        width: 100%;
        display: flex;
        overflow-x: scroll;
        scrollbar-gutter: stable;
        justify-content: space-evenly;
        align-items: center;
        padding: 0;
        position: -webkit-sticky;
        position: sticky;
        top: 6rem;
    }

    
    

    #menu_items::-webkit-scrollbar {
        display: none;
    }

    .menu_item_links {
        margin-right: 1rem;
        flex-shrink: 0;
        width: fit-content;
        text-wrap: nowrap;
    }

    #menu_items::-webkit-scrollbar {
        display: none;
    }

    /**************************/
       

    /* menu grid */
    #menu_items {
        margin: auto auto;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 1rem;
        padding: 0rem;
    }

}

@media (max-width: 800px) {
    section {
        flex-direction: column;   
    }

    .row {
        flex-direction: column;
        width: 100%;
      }
   
    input{
        width: 100%;
    }

    #button{
        width: 100%;
    }
  }

