* {
    padding: 0%;
    margin: 0%;
}

body {
    font-family: 'Karla', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Markazi Text', serif;
    letter-spacing: 2px;;
}

h1 {
    font-size: 4rem;
    margin-bottom: 0;
}
.welcome {
    color:#DDCE00;
}


h2 {
    font-size: 2.5rem;
    color: #333333;
    margin: 1rem 0;
}

p, ul{
    font-size: 1.25rem;;
}

a {
    color: #EE9972;
    text-decoration: none;
}

a:hover {
    color: #DDCE00;
    text-decoration: none;
}

header {
    background-color: #495E57;
}
/* #c9c617 */

header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
}

#logo{
    padding: 2rem;
}


nav {
    background-color: #495E57;
    margin-bottom: 0px;
}

nav ul {
    list-style: none;
    font-size: 1.5rem;
    text-align: center;
    padding-inline-start: 0rem;
    margin-bottom: 0px;
}

nav ul li {
    display: inline-block;
    margin: 0.5rem;
}

nav ul a {
    color: #EDEFEE;
    text-decoration: none;
    display: inline-block;
    width: 100px;
    padding: 1rem;
}

nav ul a:active {
    text-decoration: none;
}

nav ul a:hover {
    text-decoration: none;
    font-weight: bold;
}

#burger {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 30px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 10;
}

#burger .bar {
    width: 100%;
    height: 3px;
    background-color: #DDCE00;
    border-radius: 10px;
    transition: all 0.3s linear;
    position: relative;
    transform-origin: 1px;
  }

#burger.active .bar:nth-child(1) {
    transform: rotate(45deg);
    top: 0px;
  }
  
  #burger.active .bar:nth-child(2) {
    opacity: 0;
  }
  
  #burger.active .bar:nth-child(3) {
    transform: rotate(-45deg);
    top: 0px;
  }





nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 0 1rem;
}

nav ul a {
    text-decoration: none;
    color: #EDEFEE;
    padding: 1rem;
}

nav ul a:hover {
    font-weight: bold;
}


section {
    display: flex;
    gap: 2rem 1rem;
    flex-direction: row;
}

main.about {
    background-image: url('../img/littlelemon_store_front2.png');
    background-size: cover;
    background-position: center;
    position: relative;
}

main.about::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(270deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9));
    pointer-events: none;
}

main.about > * {
    position: relative;
    z-index: 2;
    padding: 3em;
}



main.about section {
    color: white;
    flex-direction: column;
    margin: 2em 0 0 6em;
    width: 50%;
}

main.about h1 {
    padding: 1em 0 0em 1em;
}

main.about p {
    padding: 1em 0 1em 1em;
}

main.book {
    padding: 6em;
}

article {
    flex:1;
}

article img {
    max-width: 100%;
}

article ul {
    list-style: none;
}

main article {
    border: 1px solid #EDEFEE;
    padding-left: 1rem;
    padding-right: 1rem;
}
main.about article {
    border: none;
}


figure {
    margin: 0;
}

label {
    font-weight: bold;
    display: block;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }

input{
    width: 80%;
    display: block;
    padding: .5rem 1rem;
    line-height: 1.5rem;
    box-sizing: border-box;
}
input:active, input:focus {
    border: 1px solid #495E57;
}

select {
    width: 80%;
    display: block;
    padding: .5rem 1rem;
    line-height: 1.5rem;
    box-sizing: border-box;
    background-color: #ffffff;
    border: 1px solid #495E57;
    border-radius: 4px;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

select option {
    padding: 10px;
    background-color: #ffffff;
    color: #333333;
}


select {
    background-image: url("../img/arrows.png");
    background-repeat: no-repeat;
    background-position: right .7em top 50%;
    background-size: .90em auto;
}

#submit {
    margin-top: 2.5em;
    padding: .5rem 1rem;
    border: 1px solid #495E57;
    background-color:#495E57;;
    border-radius: 5px;
    width: 80%;
    font-size: 1.25rem;
    display: block;
    color: #fff;
    line-height: 25px;
  }

#submit:hover {
    background-color: #447363;
}

#subit:active {
    background-color: #ffffff;
    color: #495E57;
    border-color: #495E57;
}

#hero {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)), url('../img/restaurant_inside.jpg');
    background-size: cover;
    background-position: 75%;
    color: white;
    min-height: 200px;
    text-align: center;;
}

#hero p {
    font-size: 2rem;
    margin:0;
    text-shadow: 2px 2px 4px #333333;
}

.cta { 
    display: inline-block; 
    color: rgba(255, 255, 255, 0.9);
    width: 200px; 
    font-weight: bold; 
    font-size: 1.5rem;
    padding: 8px; 
    border: 3px solid #fff; 
    text-align: center; 
    outline: none; 
    text-decoration: none; 
    margin: 1rem;
} 

.cta:hover {
    color:#fff;
    background:#495E57;
    border: 3px solid #495E57; 
  }

  .heading-shadow {
    text-shadow: 1px 1px 4px #333333;
  }

footer {
    color: white;
    background-color: #495E57;
    padding: 4rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.copy {
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
}

.copy img {
    align-self: flex-end;
    width: 75px;
    height: auto;
}

.copy p, .copy img {
    align-content: flex-end;
    text-align: right;
}


footer p {
    padding-top: 1rem;
}

.yellowfoot {
    color: #DDCE00;
}
h1.yellowfoot {
    font-size: 36pt;
}
.soci {
    display: flex;
    gap: 0.75rem;
}
.soci li a img {
    cursor: pointer;
    width: 50px;
    height: auto;
}



.row {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-bottom: 1rem;
  }

  .column {
    flex-basis: 50%;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
  }

  .column figure {
    padding: 0px 12px;

  }


  .videowrap {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 1rem;
	height: 0;
}
.videowrap iframe {
	position: absolute;
    margin-top: 2rem;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.menu-price{
    display: block;
    font-size: 1rem;
}

#map {
    height: 250px;
    width: 100%;
}
/*header + footer*/

@media (max-width: 500px) {

    #map {
        height: 400px;
    }

    #logo {
        margin-right: 2rem;
    }

    header {
        position: sticky;
        top: 0;
        height: 13rem;
        z-index: 1000000;
    }
    .burgwrapper {
        position: absolute;
        right: 0;
        padding: 1rem;
        margin-right: 3rem;
    }

    #burger {
        display: flex;
    }

    #nav-menu {
        transition: max-height 0.5s ease-in-out;
        /* display: block; */
    }
    #nav-menu ul li a{
        animation-delay: 6s;
        opacity: 0;
        
    } 
    #nav-menu.active ul li a{
        animation-delay: 6s;
        opacity: 1;
    }
    #nav-menu.active {
        padding: 5rem 0 4rem 0;
        max-height: 14rem;
    }

    /* nav {
        display: none;
        flex-direction: column;
        align-items: right;
        margin-right: 3rem;
        width: 100%;
    } */
    nav {
        display: flex;
        flex-direction: column;
        align-items: right;
        margin-right: 3rem;
        width: 100%;
        max-height: 0;
        overflow: hidden;
        transition: max-height 10s ease-in-out;
    }
    nav.active {
        max-height: 16rem; 
    }

    

    nav ul {
        flex-direction: column;
        width: fit-content;
        margin-right: -6.5rem;
    }

    nav ul li {
        width: 100%;
        text-align: right;
    }

    nav.active {
        display: flex;
    }

    main.about {
        background-image: url('../img/littlelemon_store_front2.png');
        background-size: cover;
        background-position: -1100px center;
        position: relative;
    }

    main.about h1.welcome {
        margin: 0;
        padding: 3rem 0 3rem 0;
        text-align: center;
        line-height: 3.5rem;
        filter: drop-shadow(2px 2px 2px #333333);
    }

    main.about section {
        margin: 0;
        padding: 0;
        width: 90%;
        text-align: center;
    }
    
    /* footer */
    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    footer > * {
        margin: 1rem;
        align-items: center;
        text-align: center;
    }

}

@media (max-width: 800px) {
    section {
        flex-direction: column;   
    }

    .row {
        flex-direction: column;
        width: 100%;
      }
   
    input{
        width: 100%;
    }

    #button{
        width: 100%;
    }
  }

