{% load static %}
<html>
   <html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Little Lemon</title>
    <meta name="description" content="A brief description" />
    <meta
      name="author"
      content="Based in Chicago, Illinois, Little Lemon is a family owned Mediterranean restaurant, focused on traditional recipes served with a modern twist."
    />

    <link
      rel="shortcut icon"
      type="image/png"
      href="{% static 'img/favicon.ico' %}"
    />

    <!-- CSS -->
    <link
      rel="preload"
      as="style"
      href="{% static 'css/header.css' %}"
      onload="this.rel = 'stylesheet'"
    >

    <link
      rel="preload"
      as="style"
      href="{% static 'css/footer.css' %}"
      onload="this.rel = 'stylesheet'"
    >

    <link
      rel="preload"
      as="style"
      href="{% static 'css/style.css' %}"
      onload="this.rel = 'stylesheet'"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Karla&family=Markazi+Text:wght@500&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />

    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script> 

    
  </head>

   <body>
    {% include 'header.html' %}
      <main class="about">
        <h1 class="welcome">Wecome to Little Lemon</h1>
         <section>
            <article>
              <p>Nestled in the heart of the Chicago Loop, Little Lemon brings the fresh flavors of the Mediterranean to the bustling epicenter of the Windy City. Family-owned and born from a dream to give Chicagoans a flavor of the sun-kissed Mediterranean coast, upon entering Little Lemon, you are on a food journey through every well-crafted dish telling a story of tradition, passion, and great taste.</p>
              <p>Our menu is an interesting tapestry, rich with the widely varied culinary influences from around the Mediterranean region. From the warm and fragrant spices of North Africa to the fresh and zesty elements of the Greek Isles, each dish is lovingly crafted. Our chefs use only the freshest ingredients, locally sourced and from trusted Mediterranean suppliers, to ensure authenticity and quality in every bite.</p>
              <p>At Little Lemon, we don't think of dining as just a meal; rather, it's an experience. The warm setting, with its rustic décor and Mediterranean hues, forms the perfect backdrop to any memorable meal you might have. Whether you are dining on a leisurely lunch with colleagues, a romantic dinner for two, or a festive celebration with the family, our staff is here to provide you with superlative service and hospitality.</p>
              <p>Join us at Little Lemon and enjoy the taste of the Mediterranean in the heart of the Chicago Loop. We invite you to explore our diverse menu, discover new favorites, and create cherished memories with every visit. Welcome to your Mediterranean oasis-your table is waiting.</p>
            </article>
         </section>
      </main>
      <img id="storefront" src="{% static 'img/littlelemon_store_front2.png' %}" alt="Little Lemon Store Front">
      <div id="map"></div>
        
          
      {% include 'footer.html' %}
      <script src="{% static 'js/nav.js' %}"></script>
      <script src="{% static 'js/map.js' %}"></script>
    </body>
</html>